@font-face {
    font-family: 'Netflix Sans';
    src: url(fonts/NetflixSansRegular.ttf);
}

body {
    background-color: black;
}

h1 {
    font-family: 'Netflix Sans';
    font-weight: 800;
    z-index: 100;
    color: white;
    user-select: none;
}

#hero-text {
    text-align: center;
    font-size: 50;
    position: relative;
    top: 20%
}

#bg {
    position: relative;
    bottom: 30%;
    -webkit-mask-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(0,0,0,1) 60%, rgba(0,0,0,0.05) 80%);
    z-index: 0;
   (min-width: 550px) and (max-width: 949px) and (orientation: portrait), only screen and (min-width: 400px) and (max-width: 549px), only screen and (min-width: 350px) and (max-width: 399px), only screen and (max-width: 349px)
    
    user-select: none;
    -webkit-user-drag: none;
}
